
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: monospace;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  width: 100%;
  height: auto;
  max-width: 500px;
}

